.my-container {
  padding-top: 115px;
  margin: 0px 200px;
}

.admin-room-container {
  background-color: #8cb8c5;
  height: 100vh;
}

.white-board {
  background-color: white;
  border-radius: 6px;
  height: 70vh;
}

.icon-room {
  background-color: white;
  height: 10vh;
  border-radius: 6px;
}

.label-room {
  background-color: white;
  height: 15vh;
  border-radius: 6px;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}

.label-room label {
  font-size: 45px;
  text-align: center;
}

.icon-history {
  background-color: white;
  margin: 28px 0;
  height: 10vh;
  border-radius: 6px;
}

.label-history {
  background-color: white;
  margin: 28px 0;
  height: 24vh;
  border-radius: 6px;
}

.label-history textarea {
  margin: 33px 41px;
}

.icon-profiles {
  background-color: white;
  height: 10vh;
  border-radius: 6px;
}

.label-profiles-container {
  display: flex;
}

.label-profiles {
  background-color: white;
  height: 24vh;
  border-radius: 6px;
}

.button-share {
  padding: 10px;
  padding-top: 84px;
  text-align: right;
}

.reset-button {
  padding: 10px;
  padding-top: 146px;
  text-align: right;
}

.button-share button,
.reset-button button {
  background-color: #6bbbda;
  border: 1px solid #9cd5ea;
  font-family: "Ubuntu", sans-serif;
}

.button-share button:hover,
.reset-button button:hover,
.button-share button:focus,
.reset-button button:focus,
.button-share button:active,
.reset-button button:active {
  background-color: #6bbbda;
  border: 1px solid #6bbbda;
}

.button-share .copied,
.button-share .copied:focus,
.button-share .copied:active,
.button-share .copied:focus-within,
.button-share .copied:visited {
  background-color: green;
}
